<ul class="list-group">
  <li class="list-items">
    <input id="safetyBox" type="checkbox" value="" onclick="safetyBoxClicked()" aria-label="..." style="transform: scale(1.3);">
    Safety
  </li>
  <li class="list-items">
    <input id="entertainmentBox" type="checkbox" value="" onclick="entertainmentBoxClicked()" aria-label="..." style="transform: scale(1.3);">
    Entertainment
  </li>
</ul>